* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #222222;
    position: relative;
}

.container {
    /* opacity: 0.5; */
    position: absolute;
    left: 50%;
    top : 15%;
    width: 30%;
    min-width: 300px;
    min-height: 350px;

    transform: translateX(-50%);

    padding: 5% 5.5% 4%;
    border-radius: 15px;
    /* border: 2px solid red; */
    background-color: #141414;
}

.logo {
    width: 100%;
    margin-bottom: 10%;
}

.input {
    width: 100%;
    border: transparent;
    /* border: 2px solid red; */
    padding : 3.5% 3%;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5%;
}

.btn-login {
    width: 100%;
    margin-top: 3%;
    border: transparent;
    /* border: 2px solid red; */
    padding : 3.5% 3%;
    border-radius: 10px;
    color : white;
    background-color : #71BE58;
}

.link-to-mail {
    color : grey;
    text-align: center;
    padding-top: 7%;
    width: 100%;
    display: block;
    cursor: pointer;
}